body {
	&.page-agegate {
		background-color: $black;
		background-position: top left 37%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;

		// Main Age wrapper
		#age_checker {
			background-position: top left 37%;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			padding: rem(60px) 0 0;

			@include mq("md") {
				background-position: center;
				height: 100vh;
				padding: rem(30px) 0 0;
			}

			// Brand
			.logo {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin: rem(30px) auto rem(50px);
				max-width: rem(250px);
				padding: 0;
				text-align: center;
				width: 60%;

				@include mq("md") {
					margin: rem(60px) auto rem(50px);
					max-width: rem(150px);
				}
			}

			// Content
			.agegate-container {
				background-color: transparent;
				height: auto;
				margin: 0 0 rem(120px);
				max-height: none;
				padding: 0 rem(50px) 0;
				width: 100%;
				position: relative;
				z-index: 1;

				@include mq("sm") {
					margin: 0;
					padding: 0 rem(20px) rem(300px);
				}

				@include mq("md") {
					// height: calc(100vh - 217px);
					// max-height: rem(600px);
					// max-width: rem(550px);
					// padding-bottom: rem(80px);
					bottom: 0;
					left: 0;
					margin: rem(-50px) auto 0;
					padding: 0 0 rem(80px);
					position: absolute;
					right: 0;
					top: 0;
				}

				@include mq("min-height:700px") {
					padding: rem(120px) 0 0;
				}

				.agegate_content {
					color: $white;
					position: relative;
					text-align: center;

					@include mq("md") {
						margin: 0 auto;
						width: rem(510px);
					}

					#age_checker_header_message {
						font-family: $gotham-bold;
						font-size: rem(24px);
						margin-bottom: rem(40px);

						@include mq("md") {
							font-size: rem(30px);
						}

						.copy-age {
							font-family: arial;
							font-size: rem(16px);
							margin: rem(20px) 0 rem(-10px);
							text-transform: uppercase;

							@include mq("md") {
								font-size: rem(20px);
							}
						}
					}

					#age_checker_widget {
						form {
							&#sabm-age-gate-form {
								text-align: center;

								& > div {
									display: flex;
									flex-wrap: wrap;
									justify-content: space-between;
								}

								#age_checker_error_message {
									bottom: rem(125px);
									color: red;
									flex: 1 100%;
									font-family: $gotham-bold;
									position: absolute;
									width: 100%;

									@include mq("md") {
										bottom: auto;
										top: rem(55px);
									}
								}

								label {
									display: none;
								}

								// Field schemma
								.form-item {
									&-list-of-countries {
										display: none;
										flex: 1 100%;
										
										select {
											background-color: transparent;
											border: rem(1px) solid $white !important;
											color: $white;
											display: block;
											font-size: rem(16px);
											margin-bottom: rem(20px);
											padding: rem(15px);
											text-align: center;
											text-transform: uppercase;
											width: 100%;
										}
									}

									// Date
									&-day,
									&-month,
									&-year {
										margin-bottom: rem(10px) !important;
										width: 30%;

										@include mq('md') {
											margin-bottom: 0 !important;
											width: 20%;
										}

										input {
											background-color: $white;
											border: rem(1px) solid $white !important;
											border-radius: rem(7px);
											color: $black;
											display: block;
											font-size: rem(17px);
											line-height: normal;
											padding: rem(10px) rem(5px);
											width: 100%;

											@include mq('md') {
												padding: rem(8px) rem(5px);
											}
										}
									}

									// Accept checkbox
									&-remember-me {
										align-items: center;
										// display: flex;
										display: none;
										margin-bottom: rem(25px) !important;

										label {
											font-size: rem(14px);
											padding-left: rem(30px);
											position: relative;
										}

										input {
											height: 20px;
											left: 0;
											margin: 0;
											position: absolute;
											top: 50%;
											transform: translateY(-50%);
											width: 20px;
										}
									}
								}

								.ab-inbev-remember-me {
									display: none;
								}

								// CTAS
								#edit-submit {
									background: $golden;
									border-radius: rem(7px);
									color: $white;
									cursor: pointer;
									font-family: $gotham-book;
									font-size: rem(17px);
									display: block;
									flex: 1 100%;
									margin: rem(10px) auto rem(20px);
									max-width: rem(250px);
									padding: rem(8px) rem(10px) rem(9px);
									width: 55%;

									@include mq('md') {
										flex: none;
										font-size: rem(16px);
										margin: 0;
										max-width: none;
										padding: rem(8px) rem(10px) rem(9px);
										width: 23%;
									}
								}

								.label_or {
									flex: 1 100%;
									display: none;
								}

								// .connector {
								// 	display: block;
								// 	@include font(20px);
								// 	color: $white;
								// 	margin: rem(16px) auto;
								// 	font-family: Arial;
									
								// 	@include mq('md') {
								// 		display: inline-block;
								// 		vertical-align: middle;
								// 		margin: 0 rem(26px);
								// 		@include font(20px);
								// 	}
								// 	@include mq('tb') {
								// 		margin: rem(10px) auto;
								// 		display: block;
								// 	}
								// }

								.age_checker_facebook_validate {
									display: block;
									flex: 0 0 100%;
									margin-top: rem(20px);
									margin-bottom: rem(-10px);
									position: relative;

									// .fb_iframe_widget
									[size~="medium"] {
										color: $white;
										@include coverAbsolute(2);
										opacity: 0.02;
										color: transparent;
									}
									.fbTrigger {
										
										color: $white;
										background: blue;
										border-radius: 10px;
										box-shadow: 0 3px 6px rgba($black, 0.2);
										text-transform: capitalize;
									}

									.button_facebook {
										display: none;
									}
								}

								// .age_checker_facebook_validate {
								// 	display: block;
								// 	flex: 0 0 100%;
								// 	margin-bottom: rem(-30px);

								// 	.facebook-message {
								// 		background-color: #5669AB;
								// 		cursor: pointer;
								// 		padding: rem(15px) rem(25px) rem(15px) rem(65px);
								// 		position: relative;

								// 		&:before {
								// 			background-image: url("../images/icons/facebook-logo.svg");
								// 			background-position: center;
								// 			background-repeat: no-repeat;
								// 			background-size: contain;
								// 			content: '';
								// 			display: block;
								// 			height: rem(10px);
								// 			left: rem(5px);
								// 			position: absolute;
								// 			top: rem(4px);
								// 			width: rem(10px);
								// 		}
								// 	}

								// 	.button_facebook {
								// 		display: none;
								// 	}
								// }
							}
						}
					}
				}
			}

			#age_checker_footer_message {
				margin: rem(10px) 0 0;
				text-align: center;

				@include mq('md') {
					margin: rem(30px) 0 0;
				}

				a {
					color: $white;
					font-family: $gotham-book;
					font-size: rem(17px);
					text-transform: uppercase;

					@include mq('md') {
						font-size: rem(14px);
					}
				}
			}

			.agegate-container-footer {
				position: relative;
				width: 100%;
				z-index: 1;

				@include mq('md') {
					bottom: 0;
					position: absolute;
				}

				.ab-inbev-footer-content-2-text-1 {
					a {
						display: block;
					}
				}
			}
		}

		#agegate_copyright_text {
			display: none;
		}

		.ytplayer-container {
			display: none;

			@include mq('md') {
				display: block;
				height: 100%;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 0;

				.ytplayer-player {
					height: 140%!important;
					left: 50%!important;
					position: absolute;
					top: calc(50% - 100px) !important;
					transform: translate(-50%,-50%)!important;
					width: 140%!important;
				}
			}
		}
	}
}