body {
	font-family: $gotham-book;
	font-size: 16px;

	&.fixed {
		overflow: hidden;
	}

	strong,
	b {
	}

	// Link styles
	button,
	a {
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			transition: all 0.2s;
		}
	}

	img {
		height: auto;
		max-width: 100%;
		vertical-align: top;
	}

	ol {
		&.breadcrumb {
			display: none;
		}
	}

	.nav-tabs {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	// Layout
	.main-container {
		margin: 0;
		max-width: 100%;
		min-width: 100%;
		padding: 0;
		width: 100%;

		.row {
			margin: 0;
			padding: 0;

			.col-sm-3 {
				min-height: initial;
			}

			.col-sm-9,
			.col-sm-12 {
				clear: both;
				float: none;
				margin: 0 auto;
				min-height: initial;
				padding: 0;
				width: 100%;
			}
		}

		// Layout fixes
		aside {
			&.col-sm-3 {
				display: none;
			}
		}

		h1 {
			&.page-header {
				display: none;
			}
		}
	}

	// forms
	form {
		select {
			-webkit-appearance: none;
			-moz-appearance: none;

			&::-ms-expand {
				display: none;
			}
		}
	}

	.block-system {
		margin: 0 auto;
		max-width: rem(1150px);
		padding: rem(0px) rem(20px) rem(40px);

		@include mq('md') {
			padding: rem(0px) rem(80px) rem(40px);
		}

		h2 {
			color: $black;
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);
			text-transform: uppercase;

			@include mq('md') {
				font-size: rem(32px);
			}
		}

		h3 {
			color: $golden;
			font-family: $gotham-bold;
			font-size: rem(18px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(25px);
			}
		}

		p {
			font-size: rem(14px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(16px);
			}
		}
	}

	&.sabc-bg-black {
		background-color: $black;

		h2, h3, p {
			color: $white;
		}
	}
}

.pagination > li > a,
.pagination > li > span {
	border-radius: 100%;
	margin: 0 !important;
	height: 30px;
	width: 30px;
	padding: 3px 0;
	text-align: center;
	border-color: $golden;
	color: $golden;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: $golden;
	border-color: $golden;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: 100%;
}

// .pagination > li:first-child > a,
// .pagination > li:first-child > span {
// 	background-image: url("../images/misc/arrow-golden-short-right.png");
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	text-indent: rem(-9999px);
// 	transform: rotate(180deg);
// 	border: initial;
// 	background-color: initial;
// }

// .pagination > li:last-child > a,
// .pagination > li:last-child > span {
// 	background-image: url("../images/misc/arrow-golden-short-right.png");
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	text-indent: rem(-9999px);
// 	border: initial;
// 	background-color: initial;
// }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	background-color: initial;
	color: $golden;
}

.flex-gallery {
	.views-field {
		display: flex;
		flex-direction: column;
		max-width: rem(900px);
		margin: 0 auto;
		align-items: center;

		@include mq("sm") {
			flex-direction: row;
			flex-wrap: wrap;
		}

		img {
			max-width: 90%;
			width: 90%;
			@include mq("sm") {
				max-width: 33%;
				width: 33%;
			}
		}
	}
}

.flex-list {
	&-3 {
		.view-content {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			padding-left: 0;
			width: 90%;
			list-style: none;

			@include mq("md") {
				flex-direction: row;
				flex-wrap: wrap;
				max-width: rem(900px);
			}

			.views-row {
				@include mq("md") {
					margin: rem(5px);
					max-width: 32%;
					width: 32%;
				}
			}
		}
	}

	.view-content {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding-left: 0;
		list-style: none;

		@include mq("md") {
			flex-direction: row;
			flex-wrap: wrap;
			max-width: rem(900px);
		}

		.views-row {
			@include mq("md") {
				margin: rem(5px);
				max-width: 48%;
				width: 48%;
			}
		}
	}
}

.pagination__controls {
	margin: rem(50px) auto;
	flex: 0 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

//New Pagination
.pagination {
	li {
		display: none;
		margin: 0 rem(3px);

		@include mq('md') {
			display: inline-block;
		}

		&.next, &.prev {
			a {
				background-image: url("../images/misc/arrow-golden-short-right.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 25px;
				text-indent: rem(-9999px);
			}
		}

		&.prev {
			a {
				transform: rotate(180deg);
			}
		}

		&.active, &.next, &.prev {
			display: inline-block;
		}

		&.pager-first, &.pager-last {
			display: none;
		}
	}
}