.sabc-legal {
	&.sabc-termofuse {
		.sabc-slider-tabs {
			a.link-1 {
				background-color: $golden;
				color: $white;
			}
		}
	}

	&.sabc-ourdream, &.sabc-cookiepolicy {
		.sabc-slider-tabs {
			a.link-2 {
				background-color: $golden;
				color: $white;
			}
		}
	}

	&.sabc-privacypolicy {
		.sabc-slider-tabs {
			a.link-3 {
				background-color: $golden;
				color: $white;
			}
		}
	}
}