.sabc-comunitites {
  .sabc-slider-tabs {
    a.link-1 {
      background-color: $golden;
      color: $white;
    }
  }
}
.sabc-marketing {
  .sabc-slider-tabs {
    a.link-2 {
      background-color: $golden;
      color: $white;
    }
  }
}
.sabc-driving {
  .sabc-slider-tabs {
    a.link-3 {
      background-color: $golden;
      color: $white;
    }
  }
}
.sabc-retailing {
  .sabc-slider-tabs {
    a.link-4 {
      background-color: $golden;
      color: $white;
    }
  }
}
