.page-careers-vacancies {
	header {
		&.navbar.container {
			background-image: url("../images/bgs/bg-careers.jpg") !important;
			height: rem(359px);

			@include mq('sm') {
				height: rem(271px);
			}

			@include mq('md') {
				height: rem(570px);
			}
		}
	}

	.sabc-slider-tabs {
		a.link-1 {
			color: $white !important;
			background-color: $golden;
		}
	}

	.block-system {
		.view-header {
			.title-header {
				left: rem(15px);
				position: absolute;
				top: rem(-194px);

				@include mq('sm') {
					top: rem(-156px);
				}

				@include mq('md') {
					left: rem(85px);
					top: rem(-330px);
				}

				@include mq('lg') {
					left: calc(50% - 505px);
				}

				h1 {
					color: #fff;
					font-family: $gotham-black;
					font-size: rem(35px);
					margin: 0;
					max-width: rem(400px);
					text-transform: uppercase;

					@include mq('md') {
						font-size: rem(55px);
						max-width: rem(550px);
					}

					span {
						color: $golden;
					}
				}
			}
		}
	}
}