.sabc-smartdrinking {
	header {
		&.navbar.container {
			background-position: 73%;
			@include mq('md') {
				background-position: top;
			}
			.title-header {
				h1 {
					max-width: rem(970px);

					span {
						display: inline;
					}
				}
			}
		}
	}

	.sabc-slider-tabs {
		a.link-4 {
			background-color: $golden;
			color: $white;
		}
	}
	.main-container{
		@include mq('md'){
			overflow: hidden;
		}
	}
	.block-system {
		h2 {
			color: $golden;
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);
			text-transform: uppercase;

			@include mq('md') {
				font-size: rem(32px);
			}
		}

		h3 {
			color: $white;
			font-family: $gotham-bold;
			font-size: rem(18px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(25px);
			}
		}

		p {
			font-size: rem(14px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(16px);
			}
		}
	}
	#block-system-main{
		.banner{
			width: 100vw;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 0 1.4em;
			.right{
				padding: 3rem;
				background: $golden;
				color: $white;
				font-size: rem(16px);
				span{
					font-family: $gotham-bold;
				}
			}
			@include mq('md'){
				display: flex;
				margin: 2.8em 0;
				width: 100vw;
				.left,
				.right{
					width: 50%;
				}
				.left{
					padding: 0;
					img{
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				.right{
					padding: 14rem 13vw 10rem;
					font-size: rem(18px);
					text-align: center;
				}
			}
		}
	}
	#block-views-smart-drining-block{
		.view-content{
			padding: 0;
			display: flex;
			overflow-x: scroll;
			.views-row{
				position: relative;
				min-width: 260px;
				overflow: hidden;
				img{
					transition: transform .7s;
				}
				.views-field-field-beneficiarie-image{
					height: 100%;
					.field-content{
						height: 100%;
					}
					img{
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				.views-field-body{
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					padding: 1em 8% 1.4em;
					background: $black;
					background: -moz-linear-gradient(0deg, rgba(0,0,0,.9) 42%, rgba(0,0,0,0) 100%);
					background: -webkit-linear-gradient(0deg, rgba(0,0,0,.9) 42%, rgba(0,0,0,0) 100%);
					background: linear-gradient(0deg, rgba(0,0,0,.9) 42%, rgba(0,0,0,0) 100%);
					// min-height: 214px;
					font-family: $gotham-book;
					color: rgba($white, .2);
					font-size: rem(14px);
					line-height: 1.3;
					// p{
					// 	color: $white;
					// 	font-size: rem(14px);
					// 	line-height: 1.3;
					// 	font-family: $gotham-medium;
					// }
				}
			}
			@include mq('md'){
				overflow: initial;
					.views-row{
						.views-field-body{
							padding: 2.8em 14% 2.1em;
							font-size: rem(16px);
						}
						&:hover{
							img{
								transform: scale(1.1);
							}
						}
					}
			}
		}
	}
	.smartd-footer{
		background: url('../images/bgs/smartd-footer-bg.jpg') no-repeat;
		background-size: cover;
		// background-color: gray;
		padding: 7em 1.7em 7em;
		background-position: 9% 50%;
		p{
			font-size: rem(28px);
			color: $white;
			text-align: center;
			font-family: $gotham-black;
		}
		@include mq('md'){
			padding: 7em 1.7em;
			p{
				font-size: rem(42px);
				max-width: 700px;
				margin: auto;
			}
		}  
	}
}