.approved-video {
	.sabc-slider-tabs {
		a.link-3 {
			background-color: $golden;
			color: $white;
		}
	}

	.gallery-video {
		max-width: 90%;
		margin: 0 auto;

		.views-row {
			cursor: pointer;

			.views-field-field-video-youtube {
				.file-video-youtube {
					position: relative;

					&::before {
						content: "";
						background-image: url("../images/icons/play.png");
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						width: rem(49px);
						height: rem(49px);
						display: block;
						position: absolute;
						margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
						top: 40%;
					}
				}
			}
		}

		.modal-dialog {
			@include mq("sm") {
				width: rem(676px);
			}

			.media-youtube-player {
				width: 100%;
				@include mq("sm") {
					width: rem(676px);
				}
			}
		}

		.modal-header {
			border-bottom: initial;
		}

		.modal-content {
			background: initial;
			box-shadow: initial;
			border: initial;
			.modal-body {
				padding: 0;
			}
		}

		.close {
			position: relative;
			font-size: 0;
			opacity: 1;
			width: 40px;
			height: 32px;

			&::before,
			&::after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				border-right: 2px solid $golden;
				border-bottom: 2px solid $golden;
				transform: rotate(-45deg);
				position: absolute;
				top: 5px;
			}

			&::after {
				border-right: initial;
				border-bottom: initial;
				border-left: 2px solid $golden;
				border-top: 2px solid $golden;
				transform: rotate(-45deg);
				position: absolute;
				top: 5px;
				right: -5px;
			}
		}
	}
}