.sabc-leadership {
	.block-system {
		display: none;
	}

	.sabc-slider-tabs {
		a.link-3 {
			background-color: $golden;
			color: $white;
		}
	}

	.sabc-leadership-team {
		margin: 0 auto;
		max-width: rem(1145px);
		padding: rem(20px) rem(15px);

		@include mq('md') {
			padding: rem(20px) rem(70px) rem(60px);
		}

		.view-content {
			display: flex;
			flex-wrap: wrap;

			.views-row {
				margin: rem(5px);
				width: calc(50% - 10px);

				@include mq('xs') {
					width: calc(33.333% - 10px);
				}

				@include mq('md') {
					margin: 0 rem(10px) rem(35px);
					width: calc(25% - 20px);
				}

				.views-field-field-member-image {
					img {
						width: 100%;
					}
				}

				.views-field-title {
					background-color: $white;
					font-family: $gotham-bold;
					font-size: rem(12px);
					line-height: 1.1;
					min-height: rem(39px);
					padding: rem(10px) rem(10px) 0;

					span {
						display: block;
						width: rem(65px);

						@include mq('md') {
							width: 100%;
						}
					}

					@include mq('md') {
						font-size: rem(16px);
						padding: rem(20px) rem(10px) rem(3px);
					}
				}

				.views-field-body {
					background-color: $white;
					border-radius: 0 0 rem(10px) rem(10px);
					font-size: rem(11px);
					line-height: 1.1;
					min-height: rem(50px);
					padding: 0 rem(10px) rem(12px);

					@include mq('md') {
						font-size: rem(12px);
						min-height: rem(45px);
						padding: 0 rem(10px) rem(10px);
					}
				}
			}
		}
	}
}