.sabc-125years {
	header {
		&.navbar.container {
			background-position: top;
			
			.title-header {
				h1 {
					max-width: rem(992px);

					span {
						display: inline;
					}
				}
			}
		}
	}

	.sabc-slider-tabs {
		a.link-2 {
			background-color: $golden;
			color: $white;
		}
	}

	.block-system {
		h2 {
			color: $golden;
		}

		h3 {
			color: $golden;
			margin-bottom: rem(3px);
		}

		em {
			display: block;
			font-family: $gotham-bold;
			font-size: rem(20px);
			font-style: normal;
			line-height: 1.2;
			margin: rem(35px) 0;

			@include mq('md') {
				font-size: rem(28px);
			}
		}
	}
}