section[id*="block-views-our-goals"] {
  background: $golden;
  font-size: rem(15px);
  text-align: center;
  color: $white;
  .block-title {
    font-family: $gotham-black;
    font-size: rem(34px);
    padding: 0.2em 2.1em;
    text-transform: uppercase;
  }
  .view-our-goals {
    .view-header {
      padding: 0 rem(20px) rem(18px);
    }
    .view-content {
      display: flex;
      overflow-x: scroll;
      height: rem(220px);
    }
    .views-row {
      position: relative;
      min-width: rem(260px);
      overflow: hidden;
      .views-field-field-ourgoals-image {
        height: 100%;
        > .field-content {
          height: 100%;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: transform 0.7s;
        }
      }
      .views-field-body {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        color: $white;
        font-size: rem(24px);
        line-height: 1;
        padding: 0 1.4em 1em;
        font-family: $gotham-black;
        text-align: left;
        background: $black;
        background: -moz-linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        background: -webkit-linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        @media(min-width: 992px) {
          padding: 0 3em 1em 1.4em;
        }
        p {
          font-family: $gotham-book;
          font-size: rem(14px);
          line-height: 1.3;
          margin-top: 0.5em;
        }
      }
    }
  }
  @include mq("md") {
    .block-title {
      margin: 0.7em 0;
    }
    .view-our-goals {
      .view-header {
        max-width: 1060px;
        font-size: rem(16px);
        margin: auto;
      }
      .view-content {
        height: rem(350px);
      }
      .views-row {
        min-width: rem(230px);
        width: 20%;
        &:hover {
          img {
            transform: scale(1.1);
          }
          .views-field-body p {
            height: calc(10em - 2.1vw);
          }
        }
        .views-field-body {
          font-size: rem(28px);
          p {
            height: 0;
            overflow: hidden;
            transition: height 0.7s;
          }
        }
      }
    }
  }
}
.sabc-comunitites,
.sabc-marketing,
.sabc-driving,
.sabc-retailing {
  section[id*="block-views-our-goals"] {
    @include mq("md") {
      .view-our-goals {
        .views-row {
          width: 33.333%;
        }
      }
    }
  }
}
