.sabc-news {
	.sabc-slider-tabs {
		a.link-1 {
			background-color: $golden;
			color: $white;
		}
	}

	.block-views {
		margin: 0 auto;
		max-width: rem(600px);
		padding: rem(0px) rem(20px) rem(40px);

		@include mq('md') {
			max-width: rem(1155px);
			padding: rem(0px) rem(80px) rem(40px);
		}
	}

	.view-related-articles {
		.views-exposed-widgets {
			display: flex;
			justify-content: center;
		}

		.view-content {
			max-width: none;
			width: 100%;

			.views-row {
				margin: 20px auto;
				position: relative;

				.views-field {
					display: flex !important;
					flex-direction: column;

					&.views-field-field-news-image {
						.field-content {
							border-radius: 10px;
							overflow: hidden;

							@include mq('md') {
								height: rem(190px);
								position: relative;
								width: 100%;
							}

							img {
								width: 100%;

								@include mq('md') {
									left: 50%;
									max-width: 140%;
									position: absolute;
									top: 50%;
									transform: translate(-50%, -50%);
									width: 140%;
								}
							}
						}
					}

					&.views-field-title {
						margin: rem(20px) 0;

						span a {
							color: $golden;
							font-family: $gotham-black;
							font-size: rem(18px);
							line-height: 1.1;
							text-transform: uppercase;
						}
					}

					&.views-field-body p {
						font-size: rem(16px);
					}

					&.views-field-view-node {
						margin: rem(20px) 0 0;

						a span {
							background-image: url("../images/misc/arrow-golden-short-right.png");
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							text-indent: rem(-9999px);
							width: rem(20px);
							height: rem(20px);
							display: block;
						}
					}
				}
			}

			.less-3{
				.pagination__controls{
					//display: none;
				}
			}

			.not-found {
				margin: 30px auto;
				font-size: 27px;
				font-family: $gotham-bold;
			}
		}
	}

	.pagination {
		cursor: pointer;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: rem(20px);
		transform: scale(0.98);
		transition: all 0.2s;
		user-select: none;
		white-space: nowrap;
		will-change: transform;

		> li {
			display: block;
			margin-left: rem(22px);
		}
	}
}