.wrapper-date {
	margin: rem(30px) auto;
	width: 96%;

	.year {
		color: $golden;
		cursor: pointer;
		font-size: rem(16px);
		outline: initial;
		padding: 0 rem(20px);
		text-align: center;

		@include mq("md") {
			font-size: rem(20px);
		}
	}

	.slick-list {
		@include mq("md") {
			width: 83%;
			margin: 0 auto;
		}
	}

	.slick-arrow {
		background-image: url("../images/misc/arrow-golden-short-right.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		bottom: rem(-13px);
		height: rem(20px);
		position: absolute;
		top: rem(11px);
		width: rem(25px);
		z-index: 1;

		@include mq("md") {
			top: rem(14px);
		}

		&.slick-next {
			right: rem(0px);

			@include mq("md") {
				right: 12%;
			}
		}

		&.slick-prev {
			left: rem(0px);
			transform: translateY(-50%) rotate(-180deg);

			@include mq("md") {
				left: 12%;
			}
		}
	}
}
