.view-display-id-page_vacancies {
    .view-header {
        p {
            font-family: $futura-bold;
            font-size: 3rem !important;
        }
    }
    form {
        .views-exposed-widgets {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 0fr 1fr 1fr 1fr;
            grid-gap: 10px;
            .views-widget-filter-title {
                grid-column: 1/3;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                label {
                    grid-column: 1/3;
                }
            }
        }
        #edit-submit-vacancies {
            background-color: #baa769;
            color: white;
            padding: 1rem 3.5rem;
        }
    }
    .view-content {
        .views-row {
            margin: 4rem 0;
            h3 {
                color: $black;
                text-transform: uppercase;
                margin-bottom: 0px !important;
            }
            .views-field-field-reference-code {
                display: flex;
                margin-bottom: 1rem;
                color: $golden;
                font-size: 2rem;
                font-family: $futura-light;
            }
            .vacancie-apply {
                background-color: $golden;
                color: $white;
                padding: 1rem 2rem;
            }
            .views-field-field-date {
                font-family: $futura-light;
                margin-bottom: 1rem;
            }
        }
    }
}