.documents {
	.sabc-slider-tabs {
		a.link-3 {
			background-color: $golden;
			color: $white;
		}
	}

	#block-block-91 {
		margin: 0 auto;
		max-width: 115rem;
		padding: 0 8rem;
		margin-top: 20px;
		font-family: Gotham-Bold;
		font-size: 20px;
		@media(max-width: 768px){
			padding: 0 2rem;
		}
	}

	#block-block-96 {
		margin: 0 auto;
		max-width: 115rem;
		padding: 0 8rem;
		margin-bottom: 20px;
		font-size: 16px;
		@media(max-width: 768px){
			padding: 0 2rem;
		}
		p {
			width: 75%;
			margin: 0 14%;
		}
	}

	#node-141 {
		.field-name-body {
			p {
				width: 75%;
				margin: 0 14%;

				span {
					font-size: 15px;
					font-family: 'Gotham-Book';
				}
			}
		}
	}

	.block-system, .block-views {
		margin: 0 auto;
		max-width: rem(1150px);
		padding: rem(0px) rem(20px) 0;

		@include mq('md') {
			padding: rem(0px) rem(80px) 0;
		}
	}

	.block-system {
		.field-name-body {
			p {
				color: $black;
				font-family: $gotham-black;
				font-size: rem(20px);
				margin-bottom: 0;

				@include mq('md') {
					font-size: rem(32px);
				}
			}
		}
	}

	#views-exposed-form-documents-block {
		.views-exposed-form {
			label {
				font-weight: bold;
				font-family: 'Gotham-Bold';
			}
		}

		#edit-name-wrapper {
			width: 100%;
		}

		button {
			&#edit-submit-documents {
				width: 140px;
				background: #baa769;
				border: none;
			}
		}

		button {
			&#edit-reset {
				width: 140px;
				background: #baa769;
				color: #fff;
			}
		}
	}

	.view-documents {
		margin: 30px 0 70px;

		#edit-name-wrapper {
			width: 100%;
		}

		.accordion {
			.card {
				.searched-red {
					color: #920101;
				}

				.views-field {
					&.views-field-name {
						max-width: 780px;
					}
				}

				list-style: none;
				margin: 0;
				padding-left: 0;

				.views-row {
					align-items: center;
					background: #ededed;
					border-radius: 10px;
					margin: 20px 0;
					display: flex;
					justify-content: space-between;
					padding: 2.2rem 1rem;
    				min-height: 10rem !important;
					@include mq ("md") {
						padding: rem(15px) rem(10px);
						height: 15rem !important;
					}

					.views-field-name {
						padding-right: rem(10px);

						.field-content {
							display: block;
							font-family: $gotham-bold;
							font-size: rem(30px);
							line-height: 1.1;
							@media(max-width: 768px){
								font-size: rem(20px);
							}
						}
					}

					.views-field-field-document {
						img, .file-size {
							display: none;
						}

						.field-content {
							a {
								margin-top: rem(80px);
								@include mq ("sm") {
									margin-top: rem(40px);
								}
								@include mq ("lg") {
									margin-top: rem(20px);
								}
								&:last-child {
									color: $golden;
									display: block;
									font-size: rem(15px);
									position: relative;
									text-indent: -9999px;

									&:after {
										content: "Download";
										left: -12rem;
										position: absolute;
										text-indent: 0;
										top: -12px;
										color: #fff;
										background: #baa769;
										width: 115px;
										height: 30px;
										border-radius: 7px;
										text-align: center;
										padding-top: 3px;
										@media(max-width: 768px){
											top: 10px;
										}
									}
								}
							}
						}
					}

					&.views-row-last {
						border-bottom: rem(1px) solid $gray;
					}
				}
			}
		}
	}
}
