.page-404 {
	.region-content {
		background-color: $black;
	}

	.block-system {
		background-image: url("../images/bgs/bg-404.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 150%;
		height: calc(100vh - 200px);
		max-width: 100%;

		@include mq('md') {
			height: calc(100vh - 295px);
			background-size: cover;
		}

		article {
			height: 100%;
			position: relative;
		}

		.field-name-body {
			color: $white;
			left: 50%;
			max-width: rem(500px);
			padding: rem(220px) rem(20px) 0;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;

			@include mq('md') {
				padding: rem(300px) rem(20px) 0;
			}

			a {
				background-color: $golden;
				border-radius: rem(6px);
				color: $white;
				font-family: $gotham-book;
				font-size: rem(18px);
				margin: rem(30px) 0;
				padding: rem(10px) rem(25px);
			}

			.title {
				color: $golden;
				font-family: $gotham-medium;
				font-size: rem(22px);
				margin: rem(30px) 0;
			}
		}
	}
}